<div class="prev" (click)="player_service.play_previous_track()"></div>
<play>
	<div [ngClass]="{play_button: true, playing: !player_service.paused}"></div>
</play>
<div class="next" (click)="player_service.play_next_track()"></div>
<track-stats></track-stats>
<div *ngIf="os_show_volume" class="volume">
	<div
		[ngClass]="{'speaker': true, '-on': volume > 0, '-off': volume === 0}"
		(click)="toggle_volume_showing()"
	></div>
	<div *ngIf="show_volume_bar" class="volume_wrapper">
		<div class="bar" #bar>
			<volume-dot [parent]="bar"></volume-dot>
		</div>
	</div>
</div>
<progress-bar></progress-bar>
