html, body {
    background: #181a1b;
    color: #e8e6e3;
    height: 100%;
    margin: 0;
    padding: 0;
}
#play_button {
    width: 44px;
    margin-right: 10px;
}
/*#play_button label {*/
/*    display: block;*/
/*    box-sizing: border-box;*/
/*    width: 0;*/
/*    height: 44px;*/
/*    cursor: pointer;*/
/*    border-color: transparent transparent transparent #8b8b8b;*/
/*    transition: 100ms all ease;*/
/*    will-change: border-width;*/
/*    border-style: double;*/
/*    border-width: 0 0 0 40px;*/
/*    position: relative;*/
/*    bottom: 13px;*/
/*}*/
/*#play_button input[type='checkbox'] {*/
/*    visibility: hidden;*/
/*}*/
/*#play_button input[type='checkbox']:checked + label {*/
/*    border-style: solid;*/
/*    border-width: 22px 0 22px 40px;*/
/*}*/
#tracks {
    height: calc(100% - 68px);
    overflow: auto;
    padding: 10px 10px 0 10px;
}
.track {
    cursor: pointer;
    display: inline-block;
    float: left;
    clear: left;
}
#controls {
    position: fixed;
    bottom: 0;
    height: 58px;
    width: calc(100% - 20px);
    padding: 0 10px;
}
#controls div {
    float: left;
}
#progress {
    width: calc(100% - 100px);
    height: 100%;
}
#progress_dot {
    border-radius: 50%;
    background-color: #8b8b8b;
    position: relative;
    width: 10px;
    height: 10px;
    top: 24px;
    left: 0;
}
#progress_bar {
    height: 1px;
    width: calc(100% - 10px);
    border-bottom: solid 1px #e8e6e3;
    position: relative;
    top: 27px;
}
