* {
    box-sizing: border-box;
}

:host {
    width: 10px;
    height: 10px;
    position: relative;
    display: block;
    bottom: 4px;
    left: 0;
    transform: translateX(-5px);
}

div {
    border-radius: 50%;
    background-color: #15dea5;
    width: 10px;
    height: 10px;
}

@media (max-width: 600px) {
    :host {
        width: 15px;
        height: 15px;
        bottom: 7px;
    }

    div {
        width: 15px;
        height: 15px;
    }
}
