<modal [modal_config]="modal_config" #modal></modal>
<popup-menu>
	<popup-menu-item (click)="love_this_track()">{{ love_label }}</popup-menu-item>
	<popup-menu-item [contains_submenu]="true">
		Add to a playlist
		<span class="submenu">
			<popup-menu-item (click)="add_to_playlist()">
				+ New Playlist
			</popup-menu-item>
			<popup-menu-item
				*ngFor="let name of playlist_service.other_names()"
				(click)="add_to_playlist(name)"
			>
				{{ name }}
			</popup-menu-item>
		</span>
	</popup-menu-item>
	<popup-menu-item *ngIf="setup_service.is_mobile">
		<a [routerLink]="'/page/tracks/' + track.album_id">Go to Album</a>
	</popup-menu-item>
	<popup-menu-item *ngIf="setup_service.is_mobile">
		<a [routerLink]="'/page/albums/' + track.artist_id">Go to Artist</a>
	</popup-menu-item>
	<popup-menu-item *ngIf="in_playlist" (click)="delete_from_playlist()">
		Delete
	</popup-menu-item>
	<popup-menu-item (click)="play_track_next()">Play Next</popup-menu-item>
	<popup-menu-item (click)="append_track_to_queue()">
		Append to Queue
	</popup-menu-item>
	<popup-menu-item *ngIf="viewing_queue" (click)="remove_from_queue()">
		Remove from Queue
	</popup-menu-item>
</popup-menu>
