/** {*/
/*    box-sizing: border-box;*/
/*}*/

.page_albums_host {
    height: 100%;
    overflow: auto;
}

.page_albums_host h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.4em;
}

.page_albums_host ul {
    padding-left: 0;
}

.page_albums_host li {
    list-style: none;
    font-size: 2em;
    height: 110px;
}

a:visited, a:link, a:hover, a:active {
    /*color: #fff;*/
    /*text-decoration: none;*/
    height: 100%;
    display: inline-block;
    width: 100%;
}

.page_albums_host img {
    margin-right: 12px;
}

.albumart {
    float: left;
}

.name {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: calc(100% - 112px);
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
