* {
    box-sizing: border-box;
}

.play_button {
    cursor: pointer;
    width: 28px;
    height: 40px;
    border-width: 20px 0 20px 40px;
    border-style: solid;
    border-color: transparent transparent transparent #bebebe;
    transition: all 100ms ease-in-out;
    float: left;
    margin-right: 14px;
}

.paused {
    border-style: double;
    border-width: 0 0 0 40px;
}

@media (max-width: 600px) {
    .play_button {
        /*width: 26px;*/
        /*height: 28px;*/
        /*border-width: 14px 0 14px 26px;*/
        margin-right: -2px;
        transform: scale(.6);
    }

    .paused {
        /*border-width: 0 0 0 26px;*/
    }
}
