/** {*/
/*    box-sizing: border-box;*/
/*}*/

.play_button {
    cursor: pointer;
    width: 28px;
    height: 40px;
    border-width: 20px 0 20px 40px;
    border-style: solid;
    border-color: transparent transparent transparent #bebebe;
    transition: all 100ms ease-in-out;
    float: left;
    margin-right: 14px;
}

.paused {
    border-style: double;
    border-width: 0 0 0 40px;
}

@media (max-width: 600px) {
    .play_button {
        margin-right: -2px;
        transform: scale(.6);
    }
}
