* {
    box-sizing: border-box;
}

:host {
    width: 9px;
    height: 9px;
    position: absolute;
    display: block;
    bottom: 60%;
    right: -4px;
    z-index: 2;
}

div {
    border-radius: 50%;
    background-color: #15dea5;
    width: 9px;
    height: 9px;
    cursor: pointer;
}

@media (max-width: 600px) {
    :host {
        width: 30px;
        height: 15px;
        right: -15px;
    }

    div {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 8px;
        /*bottom: 8px;*/
    }
}
