.artists ul {
	padding-left: 10px;
}

.artists li {
	list-style: none;
	font-size: 2em;
	height: 110px;
}

.page_artists_host img {
	margin-right: 12px;
}

.artist_image {
	float: left;
}

.name {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: calc(100% - 112px);
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}
