<div *ngIf="showing" class="modal_wrapper">
	<div class="modal_background"></div>
	<div class="modal_container">
		<div class="modal_box">
			<h3 [innerHTML]="modal_config.modal_title | keepHtml"></h3>
			<input
				#input
				*ngIf="modal_config.show_input"
				type="text"
				(change)="input_change($event.target)"
			/>
			<div>
				<button (click)="okay()">{{ modal_config.accept_button_label }}</button>
				<button *ngIf="modal_config.show_dismiss_button" (click)="cancel()">
					{{ modal_config.dismiss_button_label }}
				</button>
			</div>
		</div>
	</div>
</div>
