* {
    box-sizing: border-box;
}

:host {
    float: right;
    width: calc(100% - 260px);
    margin-top: 8px;
}

#progress {
    height: 100%;
}

/*#progress_dot {*/
/*    border-radius: 50%;*/
/*    background-color: #8b8b8b;*/
/*    position: relative;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    top: 6px;*/
/*    left: 0;*/
/*    transform: translate(-5px, 0);*/
/*}*/

#progress_bar {
    height: 1px;
    border-bottom: solid 1px #e8e6e3;
}

@media (max-width: 600px) {
    :host {
        float: right;
        width: 100%;
        margin-top: 8px;
        clear: left;
    }
}
