* {
    box-sizing: border-box;
}

:host {
    background-color: #181a1b;
}

h3 {
    margin-top: 7px;
}

.second {
    text-align: right;
}

.fifth {
    text-align: right;
}

.last {
    text-align: right;
}

.play_track {
    cursor: pointer;
    width: 18px;
    height: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 8px 0 8px 14px;
    border-color: transparent transparent transparent #bebebe;
    transition: all 100ms ease-in-out;
}

table {
    white-space: nowrap;
    overflow: auto;
    height: calc(100% - 51px);
    display: block;
}

th:first-child {
    border-right: 0;
}

th {
    border-right: solid 1px #4a4a4a;
    padding: 0 8px;
    position: sticky;
    top: 0;
    background-color: #181a1b;
    z-index: 1;
}

th:first-child {
    position: sticky;
    left: 0;
}

th:last-child {
    border-right: 0;
}

tr:first-child td {
    border-top: 0;
}

tr:hover {
    background-color: #373737;
}

.playing_row {
    background-color: #696969;
}

td:first-child {
    border-top: 0;
    position: sticky;
    left: 0;
    background-color: #181a1b;
}

td {
    border-top: solid 1px #4a4a4a;
    padding: 0 8px;
}

.playing {
    position: relative;
    right: 2px;
}

.playing_bar {
    float: left;
    width: 3px;
    height: 12px;
    margin-right: 3px;
    background-color: #15dea5;
    animation: bars 500ms backwards infinite ease-in-out alternate;
}

.active {
    animation: bars 500ms backwards infinite ease-in-out alternate;
}

.bar-1 {
    animation-delay: 100ms;
}

.bar-2 {
    animation-delay: 200ms;
}

.bar-3 {
    animation-delay: 300ms;
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

@media (max-width: 600px) {
    tbody {
        font-size: 9px;
    }
}
