* {
    box-sizing: border-box;
}

:host {
    background-color: #181a1b;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.4em;
}

.third {
    text-align: right;
}

.fifth {
    text-align: right;
}

.last {
    text-align: right;
}

.play_track {
    width: 18px;
    height: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #bebebe;
    transition: all 100ms ease-in-out;
}

table {
    border-collapse: collapse;
}

th:first-child {
    border-right: 0;
}

th {
    border-right: solid 1px #4a4a4a;
    padding: 0 8px;
    position: sticky;
    top: 0;
    background-color: #181a1b;
    z-index: 1;
}

th:first-child {
    position: sticky;
    left: 0;
}

th:last-child {
    border-right: 0;
}

tr:first-child td {
    border-top: 0;
}

tr:hover {
    background-color: #373737;
}

.playing_row {
    background-color: #696969;
}

td:first-child {
    border-top: 0;
    position: sticky;
    left: 0;
    background-color: #181a1b;
}

td {
    border-top: solid 1px #4a4a4a;
    padding: 4px 8px 0 8px;
}

.play_track {
    width: 18px;
    height: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 8px 0 8px 14px;
    border-color: transparent transparent transparent #bebebe;
    transition: all 100ms ease-in-out;
}

.playing {
    position: relative;
    right: 2px;
}

.on_image {
    position: absolute;
    left: calc(50% - 10px);
    bottom: calc(50% - 10px);
    width: 24px;
}

.on_image > .playing_bar {
    width: 5px;
    height: 22px;
    box-shadow: 1px 1px 2px black;
}

.playing_bar {
    float: left;
    width: 3px;
    height: 12px;
    margin-right: 3px;
    background-color: #15dea5;
    animation: bars 500ms backwards infinite ease-in-out alternate;
}

.active {
    animation: bars 500ms backwards infinite ease-in-out alternate;
}

.bar-1 {
    animation-delay: 100ms;
}

.bar-2 {
    animation-delay: 200ms;
}

.bar-3 {
    animation-delay: 300ms;
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

.albumart {
    position: relative;
}

.albumart, .info, .title, .artist {
    float: left;
}

ul {
    padding-left: 2px;
    height: calc(100% - 51px);
    overflow: auto;
}

li {
    list-style: none;
    height: 55px
}

.info {
    margin-left: 3px;
    width: calc(100% - 55px);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    clear: left;
    font-size: .8em;
}

img.small {
    height: 50px;
    width: 50px;
}

@media (max-width: 600px) {
    tbody {
        font-size: 9px;
    }
}
