<modal [modal_config]="modal_config" #modal></modal>
<h3 class="page_header">Now Playing</h3>
<div *ngIf="player_service.track" class="current_track_info">
	<div class="img_container">
		<img
			src="{{ '/albums/' + player_service.track.album_id + '/image' }}"
			alt="{{ player_service.track.title + ' album cover' }}"
			class="large"
		/>
	</div>
	<div class="track_title">
		<music></music>
		{{ player_service.track.title }}
	</div>
	<div class="album_title">
		<disc></disc>
		{{ player_service.track.album }}
	</div>
	<div class="artist_name">
		<user></user>
		{{ player_service.track.artist }}
	</div>
	<!--	<div><shuffle></shuffle></div>-->
</div>
<track-table
	*ngIf="player_service.queue.length && !setup_service.is_mobile"
	[tracks]="player_service.queue"
	[show_headers]="true"
	[viewing_queue]="true"
></track-table>
<track-list
	*ngIf="player_service.queue.length && setup_service.is_mobile"
	[tracks]="player_service.queue"
	[viewing_queue]="true"
></track-list>
