.large {
	width: 500px;
	height: 500px;
}

.small_icon {
	width: 16px;
	height: 16px;
}

.icon {
	margin-right: 5px;
}

.current_track_info {
	float: left;
}

.track_title {
	font-size: 1.5em;
}

.album_title,
.artist_name {
	font-size: 1.2em;
}

virtual-scroll-tracks {
	float: left;
}

@media (max-width: 700px) {
	.large {
		width: 300px;
		height: 300px;
	}

	.current_track_info {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}

	page-now-playing .tracks_container {
		height: calc(100% - 406px);
	}

	virtual-scroll-tracks {
		float: none;
	}
}
